.login {
  &-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &-wrapper {
      background-color: white;
      padding: 16px;
      border-radius: 8px;
      width: 300px;
      box-shadow: 0px 20px 25px -5px #0000001a;
    }
  }

  &-form {
    &.ant-form-item
      .ant-form-item-label
      > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      content: none;
    }
    &-button {
      margin-top: 8px;
      margin-bottom: unset;
    }
  }
}
