.upload-image {
  height: 170px;
  aspect-ratio: 1;
  background: white;
  border-radius: 12;
  border: 1px dashed #d2ddec;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
